.App {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

input {
  appearance: none;
  border: none;
  padding-block: 20px;
  padding-inline-start: var(--scp-gutter-space-inline);
  padding-inline-end: 80px;
  font-size: 20px;
  font-family: inherit;
  outline: 0;
  border-top: 0.5px solid #e2e8f0;
  border-bottom: 0.5px solid #e2e8f0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.list {
  height: 300px;
  overflow: auto;
  padding: 0;
  margin: 0;
}
.list > li {
  font-size: 15px;
  margin: 0;
  padding: 10px 20px;
  display: flex;
}
.list > li.selected {
  background-color: #f1f5f9;
}
.item b {
  color: blue;
  font-weight: normal;
}
.subitem {
  color: #64748b;
  font-size: 12px;
  font-weight: 300;
}
img {
  height: 16px;
  width: 16px;
  margin: 2px 3px 0 0;
}
img.big {
  height: 32px;
  width: 32px;
  margin: 2px 5px 0 0;
}
